body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0f1a;
  color: white;
}

.login {
  position: fixed;
  inset: 0;
  background: #0b0f1a;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.app {
  display: none;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #050914;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  flex: 1;
  padding: 25px;
}

.page {
  display: none;
}

button {
  padding: 10px;
  background: #6366f1;
  color: white;
  border: none;
  cursor: pointer;
}

input {
  padding: 10px;
  width: 250px;
}
